<div>
    <h3 class="game-title">{{ data_enigma[0].name }}</h3>
    <p class="game-count" data-count="{{ count }}">Enigme {{ counter + 1}} / {{ count }}</p>
    <div class="modal-indice">
        <p>indice</p>
        <p>{{ data_enigma[0].hint }}</p>
        <div class="close-indice">Fermer l'indice</div>
    </div>
    <div class="form-reponse">
        <p>Question</p>
        <p>{{ data_enigma[0].question }}</p>
        <input class="reponse_container" type="text" required placeholder="Rentrer votre réponse ici"/>
        <p class="erro-text"></p>
        <div class="button_validator" data-reponse="{{ data_enigma[0].answer }}">Valider la réponse</div>
        <div class="indice-button" >Afficher l'indice</div>
    </div>
</div>