{% extends "accueil.html.twig" %}

    {% block title %}
        <title>Inscription</title>
    {% endblock %}

{% block content %}

    {% block sidebar %}{% endblock %}
    {% block header %}{% endblock %}

<div id="loginBackground"></div>
    <div id="formContainer">

        <form action="#" method="POST" id="login_form">
            <div id="formImage">
                <img src="{{ assets('img/logo_with_back.png') }}" alt="">
            </div>
            <div class="form_row">
                <img src="{{ assets("img/account.png") }}" alt="Pseudonyme" class="input_logo">
                <input type="pseudo" name="pseudo" placeholder="Pseudo" required>
            </div>
            <div class="form_row">
                <img src="{{ assets("img/mail.png") }}" alt="Mail" class="input_logo">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form_row">
                <img src="{{ assets("img/password.png") }}" alt="Mot de passe" class="input_logo"²>
                <input type="password" name="password" placeholder="Mot de passe" required>
            </div>
            <div class="form_row">
                <img src="{{ assets("img/password_check.png") }}" alt="Confirmer mot de passe" class="input_logo">
                <input type="password" name="password_confirm" placeholder="Confirmer mot de passe" required>
            </div>
            <div class="form_row_radio">
                <p>Type de compte</p>
                <div id="form_radio_container">
                    <label>
                        <input type="radio" name="account_type" value="creator" id="creator">
                        Créateur
                    </label>

                    <label>
                        <input type="radio" name="account_type" value="player" id="player">
                        Joueur
                    </label>

                </div>


            </div>

            <div class="form_submit ">
                <input type="submit" value="Inscription">
            </div>
            <p> Vous avez un compte ? <a href="login">Connectez-vous</a></p>
        </form>
    </div>


{% endblock %}
